html,body{
    height: 100%;
    width: 100%;
    *{
        padding: 0;
        margin: 0;
    }
    .top{
        width: 100%;
        height: 47px;
        line-height: 47px;
        background: #ba1c22;
        // text-align: center;
    
        .top1{
            float: left;
            width: 87px;
            height: 33px;
            margin-top: 5px;
            margin-right: 5px;
            margin-left: 5px;
          background:url(../../img/logo_icon2.png); 
          background-size:100% 100%;
        }
        .top2{
            float: right;
            width: 23px;
            height: 23px;
            margin-top: 10px;
            margin-right: 20px;
            
            background: url(../../img/messages_icon.png);
            background-size:100% 100%;
        }
    }
    .lunbo{
        // width: 100%;
        
        height: 187px;
        li{
            width:25px !important;
        }
        h3{
            width: 100%;
            height: 100%;
        }
        .lunbo2{
            background:url(../../img/20181202165539_3036.jpg);
            background-size:100% 100%;
        }
        .ant-carousel .slick-slide {
            text-align: center;
            height: 187px;
            // width: 100%;
            line-height: 187px;
            background: #364d79;
            overflow: hidden;
          }
          .ant-carousel .slick-dots li button{
                margin: 0;
                
            }
          .ant-carousel .slick-slide h3 {
            color: #fff;
            width: 100px;
            margin: 0;
            
          }
    }

    .circle-columns{
        ul{
            width: 100%;
            height: 190px;
            background: pink;
            li{
                width: 79px;
                height: 93px;
                padding-left: 10px;
                padding-top: 10px;
                text-align: center;
                
        .tu2019{
            width: 51px;
            height:51px;
            text-align: center;
            margin-left: 10px;
            background:url(../../img/20190203092750_6751.png);
            background-size:100% 100%;
        }
        .zi2019{
            width:72px;
            height: 23px;
            text-align: center;
            line-height: 23px;
            color:#8f8f94;
            font-size:14px;
            margin-top: 5px;
             }
            }
        }
    }

    .news{
        width: 100%;
        height: 50px;
        background: skyblue;
    }


    .kuajing{
        width: 100%;
        height: 220px;
        background: yellow;
    }
    .xinpin{
        width: 100%;
        height: 220px;
        background: green;
    }
}