html,body{
    height: 100%;
    width: 100%;
    *{
        padding: 0;
        margin: 0;
    }

    .footer{
        // position: fixed;
        // bottom:0px;
        // height: 100px;
        // bottom:0px;
    // position: absolute;
    // top: 100px;
        .ant-menu{
            width: 100%;
            position: fixed;
        bottom:0px;
            .ant-menu-item{
                text-align: center;

                width: 20%;
                height: 46px;
                line-height: 18px;
                // line-height:46px;
                // .ant-menu-submenu-title .anticon{
                //     margin:0px;
                // }
                .dange{
                    text-align: center;
                   .anticon{
                        text-align: center;
                        margin:0px;
                    }
                     .mingzi{
                    // margin-top: 10px;
                }
                }
               
                // .ant-menu-item .anticon, 
        }
    }
}
}